

<div class="container">
  <h1 class="title">Lista de Compras</h1>

  <form (ngSubmit)="addItem()" [formGroup]="itemForm">
    <input
      type="text"
      formControlName="itemName"
      placeholder="Adicione um item"
      class="input-item"
    />
    <button type="submit" [disabled]="itemForm.invalid">
      {{ editingItem ? "Salvar" : "Adicionar" }}
    </button>
  </form>

  <div >
    <h3 class="title2">Itens Para serem Comprados</h3>
    <ul>
      <li *ngFor="let item of itensNaoComprados" class="nao-comprou">
        <span>{{ item.nome }}</span>
        <button (click)="toggleItem(item)">✔️</button>
        <button (click)="startEditing(item)">📌</button>
        <button (click)="removeItem(item)">❌</button>
      </li>
    </ul>

    <h3 class="title2">Itens Comprados</h3>
    <ul>
      <li *ngFor="let item of itensComprados" class="comprou">
        <span>{{ item.nome }}</span>
        <button (click)="toggleItem(item)">↔️</button>
        <button (click)="startEditing(item)">📌</button>
        <button (click)="removeItem(item)">❌</button>
      </li>
    </ul>
  </div>
</div>